# All other changes require the primary team
* @GregTechCEu/gregtech-1-12-devs

# Specific files requiring admin approval
CHANGELOG.md @GregTechCEu/admin
CHANGELOG-GTCEU.md @GregTechCEu/admin
CODEOWNERS @GregTechCEu/admin
CODESTYLE.md @GregTechCEu/admin
LICENSE @GregTechCEu/admin
README.md @GregTechCEu/admin
permission*.png @GregTechCEu/admin

# Build changes
**gradle** @GregTechCEu/gregtech-build-team
/.github/** @GregTechCEu/gregtech-build-team
.editorconfig @GregTechCEu/gregtech-build-team
spotless.eclipseformat.xml @GregTechCEu/gregtech-build-team
spotless.importorder @GregTechCEu/gregtech-build-team
.gitignore @GregTechCEu/gregtech-build-team
/libs/** @GregTechCEu/gregtech-build-team
