#Minecraft
public net.minecraft.client.Minecraft field_110449_ao #defaultResourcePacks
#EnumDyeColor
public net.minecraft.item.EnumDyeColor field_193351_w #colorValue
#Block
public-f net.minecraft.block.Block field_176227_L #blockState
public net.minecraft.block.Block field_149782_v # blockHardness

# Entity
public net.minecraft.entity.Entity field_70178_ae # isImmuneToFire

# EntityRenderer
public net.minecraft.client.renderer.EntityRenderer field_78539_ae # fogColor1
public net.minecraft.client.renderer.EntityRenderer field_78535_ad # fogColor2
public net.minecraft.client.renderer.EntityRenderer field_82831_U # bossColorModifier
public net.minecraft.client.renderer.EntityRenderer field_82832_V # bossColorModifierPrev
public net.minecraft.client.renderer.EntityRenderer field_78500_U # cloudFog
public net.minecraft.client.renderer.EntityRenderer func_180438_a(Lnet/minecraft/entity/EntityLivingBase;F)F # getNightVisionBrightness

# AbstractClientPlayer
public net.minecraft.client.entity.AbstractClientPlayer field_175157_a # playerInfo

# NetworkPlayerInfo
public net.minecraft.client.network.NetworkPlayerInfo field_187107_a # playerTextures

#EntityLivingBase
public net.minecraft.entity.EntityLivingBase field_184628_bn #activeItemStackUseCount

#GuiContainer
protected net.minecraft.client.gui.inventory.GuiContainer field_147006_u #hoveredSlot
protected net.minecraft.client.gui.inventory.GuiContainer field_147005_v #clickedSlot
protected net.minecraft.client.gui.inventory.GuiContainer field_147004_w #isRightMouseClick
protected net.minecraft.client.gui.inventory.GuiContainer field_147012_x #draggedStack
protected net.minecraft.client.gui.inventory.GuiContainer field_146996_I #dragSplittingRemnant
protected net.minecraft.client.gui.inventory.GuiContainer func_146982_a(Lnet/minecraft/item/ItemStack;IILjava/lang/String;)V #drawItemStack
protected net.minecraft.client.gui.inventory.GuiContainer func_146977_a(Lnet/minecraft/inventory/Slot;)V #drawSlot
protected net.minecraft.client.gui.inventory.GuiContainer field_146991_C #returningStack
protected net.minecraft.client.gui.inventory.GuiContainer field_146990_B #returningStackTime
protected net.minecraft.client.gui.inventory.GuiContainer field_146989_A #returnStackDestSlot
protected net.minecraft.client.gui.inventory.GuiContainer field_147010_z #touchUpY
protected net.minecraft.client.gui.inventory.GuiContainer field_147011_y #touchUpX

#LayerArmorBase
public net.minecraft.client.renderer.entity.layers.LayerArmorBase func_188359_a(Lnet/minecraft/client/model/ModelBase;Lnet/minecraft/inventory/EntityEquipmentSlot;)V #setModelSlotVisible
public net.minecraft.client.renderer.entity.layers.LayerBipedArmor func_188359_a(Lnet/minecraft/client/model/ModelBase;Lnet/minecraft/inventory/EntityEquipmentSlot;)V #setModelSlotVisible
public net.minecraft.client.renderer.entity.layers.LayerBipedArmor func_188359_a(Lnet/minecraft/client/model/ModelBiped;Lnet/minecraft/inventory/EntityEquipmentSlot;)V #setModelSlotVisible
public net.minecraft.client.renderer.entity.layers.LayerArmorBase field_177190_a #renderer

# canRenderInLayer hook
public net.minecraft.client.renderer.block.model.WeightedBakedModel field_177566_c # baseModel

# Texture metadata injection
public net.minecraft.client.Minecraft field_110452_an # metadataSerializer

# RenderGlobal
public net.minecraft.client.renderer.RenderGlobal field_72738_E # damagedBlocks
public net.minecraft.client.renderer.RenderGlobal field_94141_F # destroyBlockIcons

# Biome
public net.minecraft.world.biome.Biome field_76791_y # biomeName

# NBTTagLongArray
public net.minecraft.nbt.NBTTagLongArray field_193587_b # data
