# Runs formatting requirements
name: Java Formatting

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: formatting-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    env:
      DISABLE_BUILDSCRIPT_UPDATE_CHECK: true

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup Build
        uses: ./.github/actions/build_setup

      - name: Run Spotless Formatting Check with Gradle
        run: ./gradlew spotlessCheck --warning-mode all --build-cache
