# Validates the integrity of the Gradle Wrapper
name: Validate Gradle Wrapper

on:
  push:
    branches:
      - master
    paths:
      - 'gradle/**'
  pull_request:
    paths:
      - 'gradle/**'

concurrency:
  group: gradle-wrapper-validation-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  Validation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v3
